.nav {
  color: white;
  background-color: #032541;
  font-weight: bold;
  display: flex;
  padding-left: 4vw;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  height: 9vh;
  padding-right: 8vw;
}
